{% include 'head.html' %}
{% include 'spinner.html' %}
{% include 'sidebar.html' %}

<!-- Content Start -->
<div class="content">
    {% include 'navbar.html' %}
    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <form id="formSim">
                <!-- action="" method="post"> -->
                <div class="border border-light padding rounded p-2 mb-2">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="mb-0">Simulator</h6>
                    </div>
                    <div class="d-grid mb-1">
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="d-flex flex-column align-items-start p-2 ">
                                <div class="pt-1">New rates</div>
                                <div class="pb-1 pt-0">
                                    <input type="checkbox" class="form-check-input mt-0" id="checkSimu">
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-start p-2 ">
                                <div class="pt-1">Simulation name</div>
                                <div class="pb-1">
                                    <input type="text" class="form-control" placeholder="Simulation1">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="d-flex flex-column align-items-start p-2 w-100">
                                <div class="pt-1">Description</div>
                                <div class="pb-1 w-100">
                                    <input type="text" class="form-control" placeholder="Description rate">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="d-flex flex-column align-items-start p-2 ">
                                <div class="pt-1">Electric company</div>
                                <div class="pb-1 pt-0">
                                    <input type="text" class="form-control ui-autocomplete-input" autocomplete="off"
                                        id="electricCo" placeholder="My company">
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-start p-2 ">
                                <div class="pt-1">Sector</div>
                                <div class="pb-1">
                                    <input type="text" class="form-control ui-autocomplete-input" autocomplete="off"
                                        id="sector" placeholder="Residential" disabled>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-start p-2 ">
                                <div class="pt-1">Rate name</div>
                                <div class="pb-1">
                                    <input type="text" class="form-control" placeholder="EV-RATE1" autocomplete="on"
                                        id="rateName" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="d-flex flex-column align-items-start p-2 ">
                                <div class="pt-1">Period company</div>
                                <div class="pb-1 pt-0">
                                    <select
                                        class="selectpicker text-start align-middle table-bordered table-hover mb-0 form-control"
                                        id="periodCompany" name="periodCompany">
                                        <option>Select a period</option>
                                    </select>
                                    <!-- <input type="number" class="number form-control" placeholder="1"> -->
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-start p-2 ">
                                <div class="pt-1">Rate company</div>
                                <div class="pb-1">
                                    <input type="number" id="rateVal" class="number form-control" step=0.0001
                                        placeholder="0.5543">
                                </div>
                            </div>
                        </div>
                        <div id="newRates">
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="d-flex flex-column align-items-start p-2 w-100">
                                    <div class="pt-1">Agree period</div>
                                    <div class="pb-1 pt-0 w-100" id="divPeriod">
                                        <button type="button" class="btn btn-secondary"
                                            onclick="addedPeriod()">+</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex p-2 align-items-center flex-wrap flex-column">
                        <div class="align-items-center p-1">Number of cars</div>
                        <input class="number form-control" name="finaldate" type="number" id="numInput" placeholder="1"
                            onchange="addedCars()">
                        <!-- <div class="d-flex align-items-center flex-wrap justify-content-evenly pt-3" id="tableData"> -->
                        <div class="container pt-3" id="tableData">
                            <div class="contaier row">
                                <h6 class="col">Number</h6>
                                <h6 class="col">Start time</h6>
                                <h6 class="col pe-5">Duration (15m)</h6>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit" id="envio">Calculate</button>
                    </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', path='/js/index.js') }}"></script>
    <!-- Recent Sales End -->
    {% include 'select.html' %}
    {% include 'footer.html' %}