/********** Template CSS **********/
:root {
  --ancho: 990%;
}
:root {
  --primary: #16eb3d;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Layout ***/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: var(--secondary);
  transition: 0.5s;
  z-index: 999;
}

.content {
  margin-left: 250px;
  min-height: 100vh;
  background: var(--dark);
  transition: 0.5s;
}

@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
  }

  .sidebar.open {
    margin-left: -250px;
  }

  .content {
    width: calc(100% - 250px);
  }

  .content.open {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.open {
    margin-left: 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--light);
  font-weight: 500;
  border-left: 3px solid var(--secondary);
  border-radius: 0 30px 30px 0;
  outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  background: var(--dark);
  border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
  background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: 0.5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
  padding-left: 25px;
  border-radius: 0 30px 30px 0;
  color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
  background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--light);
  outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  border-radius: 40px;
}

.content .navbar .dropdown-item {
  color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
  background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: 0.5s;
}

.content .navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
  .content .navbar .navbar-nav .nav-link {
    margin-left: 15px;
  }
}

/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px;
  border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: var(--primary);
}

/*** Testimonial ***/
.progress .progress-bar {
  width: 0px;
  transition: 2s;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 5px solid var(--primary);
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--dark);
  border-color: var(--primary);
}

.date {
  background: var(--dark);
  color: white;
}
:not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
  width: 15rem;
}

img {
  height: 2.2rem;
}


.grilla-visual {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-rows: 1fr 1fr 1fr;
}
.grilla {
  height: 100%;
}
.relleno{
  height: 100%;
}
.llenado {
  height: 100%;
}

.grilla-item1{
  grid-row: 2;
  grid-column: 1;
  z-index: 2;
  cursor: pointer;
}
.grilla-item2{
  grid-column: 2;
  grid-row:1;
  z-index: 2;
  cursor: pointer;
}

.grilla-item3{
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
  cursor: pointer;
}
.grilla-item4{
  grid-column: 2;
  grid-row: 3;
  z-index: 2;
  cursor: pointer;
}
.grilla-item5{
  grid-column: 3;
  grid-row: 2;
  z-index: 2;
  cursor: pointer;
}
.grilla-item6{
  grid-column: 4;
  grid-row: 2;
  z-index: 2;
  cursor: pointer;
}

.linea{
  position: absolute;
  top: 100px;
  right: 10px;
  left: 20px;
  width: 50px;
  height: 50px;
}

.footer{
  position: auto;
}



/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/


.ball {
  /* Va en X de grid a inverter */
  width: 25px;
  height: 5px;
  display: grid;
  background-color: rgb(233, 5, 5);
  border-radius: 30%;
  grid-column: 1/4;
  grid-row: 2/3;
  margin-top: 50px;
  z-index: 1;
  position: relative;
  /* animación para mover la bolita */
  animation: move 1.5s linear infinite;
}

@keyframes move {
  from {
      transform: translateX(0%);
  }

  to {
      transform: translateX(990%);
  }
}


@media(max-width:700px)
{
  @keyframes move {
    to{
      transform: translateX(450%);
    }
    
  }
  .ball{
    margin-top:85px ;
  }
  }

@media(max-width:1080px)
{
  @keyframes move {
    to{
      transform: translateX(600%);
    }
    
  }
}

/*---------------------------------------*/
/*---------------------------------------*/

/*--------------------------------------*/
/*--------------------------------------*/

.ballsegunda {
  /* Va en Y de pv a inverter */
  width: 5px;
  height: 25px;
  background-color: rgb(229, 233, 5);
  border-radius: 30%;
  grid-column: 2/4;
  grid-row: 1/3;
  margin-left: 100px;
  margin-top: 100px;
  z-index: 1;
  /* animación para mover la bolita */
  animation: movimiento 1.5s linear infinite;
}


@keyframes movimiento {
  from {
      transform: translateY(50%);
  }

  to {
      transform: translateY(500%);
  }
}
@media(max-width:700px)
{

  .ballsegunda{
    margin-left:85px ;
  }
  }

@media(max-width:1080px)
{

  .ballsegunda{
    margin-left: 50px;
  }
}





.balltercera {
  /* Va en Y de inverter a batery */
  width: 5px;
  height: 25px;
  background-color: rgb(32, 233, 5);
  border-radius: 30%;
  grid-column: 2/4;
  grid-row: 2/3;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 1;
  /* animación para mover la bolita */
  animation: movement 1.5s linear infinite;
}

@keyframes movement {
  from {
      transform: translateY(200%);
  }

  to {
      transform: translateY(600%);
  }
}
@media(max-width:700px)
{

  .balltercera{
    margin-left:85px ;
  }
  }

@media(max-width:1080px)
{

  .balltercera{
    margin-left: 50px;
  }
}

.ballcuarta {
  /* Va en X  de inverter a smart panel */
  width: 25px;
  height: 5px;
  background-color: rgb(9, 172, 237);
  border-radius: 30%;
  grid-column: 3;
  grid-row: 2;
  margin-top: 50px;
  z-index: 1;
  /* animación para mover la bolita */
  animation: movi 1.5s linear infinite;
}

@keyframes movi {
  0% {
      transform: translateX(-300%);
  }
  100% {
      transform: translateX(150%);
  }
}
@media(max-width:700px)
{
  .ballcuarta{
    margin-top:85px ;
  }
  }

@media(max-width:1080px)
{
  .ballcuarta{
    margin-left: 0;
  }
}

.ballquinta {
  /* Va en X  de smart panel a load */
  width: 25px;
  height: 5px;
  background-color: rgb(9, 172, 237);
  border-radius: 30%;
  grid-column: 4;
  grid-row: 2;
  margin-top: 50px;
  z-index: 1;
  /* animación para mover la bolita */
  animation: movimi 1.5s linear infinite;
}

@keyframes movimi {
  0% {
      transform: translateX(-350%);
  }
  100% {
      transform: translateX(100%);
  }
}
@media(max-width:700px)
{
  .ballquinta{
    margin-top: 85px;
  }
}

@media(min-width:1080px)
{
}

.cuadradoprimero{
  /* Cuadro conectado a grid*/
  width: 50px;
  height: 20px;
  display: grid;
  border: 1.5px solid;
  border-color: #6e706e;
  grid-column: 1/4;
  grid-row: 2/3;
  margin-top: 187px;
  margin-left: 210px;
  z-index: 1;
  position: fixed;
  /* animación para mover la bolita */
  animation:none;
}



.cuadradosegundo{
  /* Cuadro conectado a inverter*/
  width: 20px;
  height: 50px;
  display: grid;
  border: 1.5px solid;
  border-color: #6e706e;
  grid-column: 2/4;
  grid-row: 1/3;
  z-index: 1;
  margin-left: 93px;
  margin-top: 100px;
  /* animación para mover la bolita */
  animation: none;
}


.cuadradotercero{
  width: 20px;
  height: 50px;
  display: grid;
  border: 1.5px solid;
  border-color: #6e706e;
  grid-column: 2/4;
  grid-row: 3/3;
  z-index: 1;
  margin-top: -45px;
  margin-left: 93px;
  /* animación para mover la bolita */
  animation: none;
}

.cuadradocuarto{
  /* Devolución */
  width: 50px;
  height: 20px;
  display: grid;
  border: 1.5px solid;
  border-color: #6e706e;
  grid-column: 3;
  grid-row: 2;
  margin-top: 42px;
  margin-left: -40px;
  z-index: 1;
  /* animación para mover la bolita */
  animation: none;
}

.cuadradoquinto{
  width: 50px;
  height: 20px;
  display: grid;
  border: 1.5px solid;
  border-color: #6e706e;
  grid-column: 4;
  grid-row: 2;
  margin-top: 43px;
  margin-left: -40px;
  z-index: 1;
  /* animación para mover la bolita */
  animation: none;
}

/*---------------------------------------------*/
/*---------------------------------------------*/
/* The Modal (background) */
.modal {
  display: grid; /* Hidden by default */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  width: 100%; /* Full width */
  height: 150%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(179, 44, 44); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.491); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #5b5959;
  margin: auto;
  padding: 0;
  border: 5px solid #5b5959;
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.titulo{
  color: rgb(255, 255, 255);
  margin-left: 30px;
  margin-top: 5px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bolder;
  margin-right: 20px;
}

.texto,
.number{
  color: white;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 2px;
  background-color: #ccb013;
  color: rgb(255, 255, 255);
}

.modal-body {padding: 50px 20px;}


@media(max-width:1200px)
{
  .btn-modal{
    margin-top: -250px;
    margin-left: 0px;
    width: 160px;
  }
}

@media(max-width:650px)
{
  .btn-modal{
    margin-top: -310px;
    margin-left: 0px;
    width: 120px; 
    height: 130px;
  }
}

@media(max-width:550px)
{
  .btn-modal{
    margin-top: -370px;
    margin-left: 0px;
    width: 100px; 
    height: 160px;
  }
}

/*---------------------------------------------*/
/*---------------------------------------------*/


/*------------------------------------------------*/
/*------------------------------------------------*/